
[Unit]
Description=DGUS Display for Klipper
Requires=moonraker.service

[Service]
User=<user>
Group=<user>
Type=idle
WorkingDirectory=<dgus_dir>
ExecStartPre=python3 <dgus_dir>/Helper/sleep.py 15
ExecStart=<dgus_dir>/venv/bin/python3 <dgus_dir>/src/main.py -c <config_dir>
Restart=on-failure

[Install]
WantedBy=multi-user.target
